li {
  list-style: none;
}

a {
  text-decoration: none;
  color:#000;
}

/* header */
header {
  display:flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

.h1Link {
  display:flex;
  align-items: center;
  color:rgb(189,124,122)
}


.shopIcon  {
  width: 36px;
  height: 100%;
  padding-left: 10px;
}
.shopIcon path {
  width: 36px;
}

.gnb {
  display:flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
  font-weight: 600;
}
.gnb a {
  display:flex;
  align-items: center;
  height: 100%;
}

.gnb button {
  background-color: #fff;
  border:none;
  font-weight: bold;
  height: 100%;
  cursor: pointer;
}



/* home */
.homecontents {
  width: 1200px;
  margin:0 auto;
}

.banner {
  position: relative;
}
.banner img {
  width: 100%;
  height: 300px;
  object-fit:cover;
  filter:brightness(60%);
}
.bannerText {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color:#fff;
}
.bannerText p {
  margin:0;
}
.bannerFontFirst {
  font-size: 3rem;
  font-weight: bold;
}

/* productList */
.productList ul {
  padding: 0;
  margin:10px 0;
  display:flex;
  flex-wrap: wrap;
}
.productList ul li {
  width: 33%;
  list-style: none;
  position: relative;
}
.productList ul li:nth-of-type(3n-1){
  margin: 0 6px;
}
.productList ul li img {
  width: 100%;
}
.productList ul li span {
  position: absolute;
  top:0;
  padding: 10px 0 0 10px;
}


/* NewProduct */
.NewProduct {
  width: 1200px;
  margin:0 auto;
  text-align: center;
}

.font_title {
  font-size: 3rem;
  font-weight: bold;
}

.new_product ul{
  padding: 0;
  
}
.new_product ul li {
  margin:10px 0px;
  
}
.new_product input {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.new_product button {
  width: 100%;
  padding: 10px;
  font-weight: bold;
  font-size: 1rem;
  background-color:rgb(226, 80, 75);
  color:#fff;
  border:none;
}


.content {
  /* border:1px solid red; */
  padding:0px; margin:0px; 
}
.productavata_image {
  /* border:1px solid red; */
  width:300px; height:380px; 
  margin: 0.5rem 0;
}
.productavata {
  /* border:1px solid red; */
  width:400px; height:480px;
  text-align:center;
  padding-left:30px;
  float:left;
}
.product_detail {
  width:70%;
  margin:auto;
  margin-top:40px;
  /* border:1px solid blue; */
}
.detail_image{
  /* border:1px solid red; */
  width:500px; height:580px;
  margin-right:20px;
  float:left;
}
.product_info{
  list-style-type: none;
  padding:0; margin:0;
  /* border:1px solid green; */
  width:450px; height:580px;
  float : left;
}
.product_info li{
  margin:5px 0;
}
.product_info li:nth-child(2){
  margin-bottom:10px ;
  padding-bottom:10px;
  border-bottom:2px solid lightgray;
}
.product_info li:nth-child(4){
  margin-top:20px ;
}
.detail_font_bigger{
  font-size : 18pt;
  font-weight: bold;
}
.detail_font_small{
  font-size : 10pt;  
}
.detail_select{
  border:1px dotted tomato;
  width:85%;
  padding:8px ;
}
.detail_button{
  background-color: tomato;
  border:none;
  color : white;
  width:100%;
  padding:8px ;
  margin-top:15px;
  cursor: pointer;
}
.font_title{
  text-indent: 40px;
  font-size : 16pt;
  font-weight: bold;
}

.ProductList {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.welcome {
  margin-right: 20px;
}


/* Quantity */
.quantity :nth-child(2){
  background-color: white;
  padding:0px 10px;
}
.quantity span{
  /* padding-top:0.2rem; */
  border:1px solid lightgray;
  border-radius: 0.2rem;
  background-color: rgb(243, 242, 242);
  width:30px; height:28px;
  display:block;
  float:left;
}
.quantity span:nth-of-type(1),
.quantity span:nth-of-type(3){
  cursor: pointer;
}
.quantity p{
  text-align:center;
}
.quantity p {
  justify-content: space-between;
  /* border:1px solid blue; */
  width:100%;
  overflow:hidden;
}

.tot_div_style {
  text-align: center;
  border:1px solid #000;
  padding: 10px 20px;
}
.tot_font_style {
  font-weight: bold;
  margin: 0 10px;
}
.tot_order_font_style {
  color:red;
  font-weight: bold;
  margin-left: 10px;
}

.orderBtn {
  text-align: center;
  margin-top: 20px;
}